[2015-02-25 08:09] bmbrands opened #2 "Reduce the number of renderers"
I noticed you copied the bootstrap renderers which works fine. Some of them are unchanged so you could simply remove them to prevent unneeded code duplication. If you have a bugfix please request for it to be fixed in the parent theme. Thanks :)

[2015-02-25 08:45] roelmann commented on #2
Noted: All copied across for development purposes but will reduce them before moving to Beta. Thanks Bas

[2015-03-17 19:30] roelmann commented on #2
Fixed: https://github.com/roelmann/theme_flexibase/commit/d9836cd6b80c753207f3a111ffdfabf824880d38

[2015-03-17 19:30] #2 closed, assigned to nobody

[2015-12-20 09:36] roelmann opened #3 "NavBar menu options"
Create a settings page to customised the main theme navbar (My Courses, Calendar, etc)

[2015-12-20 09:38] roelmann opened #4 "AwesomBar settings - Nav and Admin blocks not hiding"
AwesomeBar settings page should allow Admin and Navigation blocks to hide - they don't.
Suspect this is due to overriding the upstream blocks during development of other features

[2015-12-20 09:39] roelmann opened #5 "Options to position custom menu"
Create options to position the custom menu as part of AB or part of top menu bar

[2015-12-20 09:41] roelmann opened #6 "Alert text alignment over multiple lines"
If the alert text spans several lines it should be (?) indented to be under the rest of the text rather than flowing under the alert icon

[2015-12-20 09:42] roelmann opened #7 "Header shrinking when no site name or logo displayed"
Add .moodleheader{min-height:60px;} to css

[2015-12-20 09:43] roelmann opened #8 "Align branding bar when dock is used"
.has_dock .navbar-header {padding-left:30px;}

[2015-12-20 09:44] roelmann opened #9 "Awesomebar YUI not applying"
There appear to be a few minor changes in upstream awesomebar, including preventing dropdowns cutting off at the bottom of the viewport.

[2015-12-20 09:45] roelmann opened #10 "Enable UserMenu settings to allow user menu to be customised"
Enable UserMenu settings to allow user menu to be customised

[2015-12-20 09:47] roelmann opened #11 "Participants page - spacing"
Some headings need spacing to form item (is this an upstream BS issue?)

[2015-12-20 09:56] roelmann opened #12 "course search 'Go' button alignment"
Find specific selector and add margin-top: -6px;

[2015-12-20 10:01] roelmann opened #13 "Course view page has excess space"
.coursebox .summary {height:130px;}
This either needs to be more specific for the front page course tiles or needs to be overridden for the course view page (/course/index.php)

[2015-12-20 10:10] roelmann opened #14 "add small margin below breadcrumb bar"

[2015-12-20 10:12] roelmann opened #15 "Menu text on inverted colours doesn't stand out"

[2015-12-20 13:13] roelmann commented on #15
https://github.com/roelmann/moodle-theme_flexibase/commit/6644a385457459092c839c9c908b25bea190916a
Hover colour changed to @gray in LESS variables
Can be overridden in customLESS as
@navbar-inverse-link-hover-color:           @gray;

[2015-12-20 13:13] #15 closed, assigned to roelmann

[2015-12-20 13:17] roelmann commented on #7
https://github.com/roelmann/moodle-theme_flexibase/commit/62805516c6ec4574626b47cd48095e2ed7360dee

[2015-12-20 13:17] #7 closed, assigned to roelmann

[2015-12-20 13:20] roelmann commented on #8
https://github.com/roelmann/moodle-theme_flexibase/commit/4de41a512d90d6896a70f063dc6de611363f2b69

[2015-12-20 13:20] #8 closed, assigned to roelmann

[2015-12-20 13:25] roelmann commented on #11
https://github.com/roelmann/moodle-theme_flexibase/commit/4061a48cb7d6fad6c873ceb9d88f34d0180ab038

[2015-12-20 13:25] #11 closed, assigned to roelmann

[2015-12-20 13:34] roelmann commented on #12
https://github.com/roelmann/moodle-theme_flexibase/commit/3e060ff8cf4aaffb96e0d351cbe1e3962e8ac825

[2015-12-20 13:34] #12 closed, assigned to roelmann

[2015-12-20 13:43] roelmann commented on #13
Should be #frontpage-course-list .coursebox .summary {height:130px;}

[2015-12-20 13:44] roelmann commented on #13
https://github.com/roelmann/moodle-theme_flexibase/commit/6d61ce8ef8af79a36b3e53ff51ba69b2796911ae

[2015-12-20 13:44] #13 closed, assigned to roelmann

[2015-12-21 20:59] roelmann opened #16 "Labels do not indent"

[2015-12-21 20:59] roelmann commented on #16
https://github.com/roelmann/moodle-theme_flexibase/commit/db4cdff26e7b823b72e5db9697617e3a2993f8ab

[2015-12-21 20:59] #16 closed, assigned to nobody

[2015-12-22 04:55] derekc opened #17 "Trashed my site again trying to do an update"
Richard, I was curious to see what the small tweaks you made were.
1) I went to master
2) downloaded zip and unzipped
3) renamed folder to theme_flexibase
4) rezipped - uploaded
5) got this:

![74 trashed](https://cloud.githubusercontent.com/assets/687780/11948051/26cf3ec6-a8d4-11e5-908d-3e08cabead20.png)

So I managed to trash the site again.  Just worse than last time.  :-)  I can't even get int

[2015-12-22 08:13] roelmann commented on #17
You need to rename the folder to just plain 'flexibase' not theme_flexibase
Yes you can delete what you have installed from the folder as it wont have installed properly to the database anyway, so you can just delete it - I believe from teh testing I did previously that it will have created 2 folders, one of which is actually the base theme folder renamed.
Personally, I think this renaming of zipp

[2015-12-22 08:14] roelmann commented on #17
This is not a theme issue to be fixed, but will leave the issue 'open' for a while for information for readers

[2015-12-22 11:59] roelmann commented on #14
nav#page-header {
    margin-bottom:10px;
}

[2015-12-22 12:00] roelmann commented on #14
https://github.com/roelmann/moodle-theme_flexibase/commit/331aef47d8838ddd66805791a5207bcff4675c47

[2015-12-22 12:00] #14 closed, assigned to roelmann

[2015-12-27 10:04] roelmann commented on #4
https://github.com/roelmann/moodle-theme_flexibase/commit/b6df3ab9cb3a088388e9505b55237fd110e7b989
Fixed - adds complication to 'plugin feature' as core_renderer cannot be standalone if existing theme already has one. Added to instructions though.

[2015-12-27 10:04] #4 closed, assigned to roelmann

[2015-12-27 10:05] roelmann commented on #9
Issue name edited to reflect investigations:
Existing awesomebar in Flexibase DOES include the code for adjusting the drop downs to fit the visible window, but is not applying the YUI

[2015-12-27 13:19] roelmann opened #18 "xxyy appearing on page redirect"

[2015-12-27 13:21] roelmann commented on #18
https://github.com/roelmann/moodle-theme_flexibase/commit/8984707f17f232cca90c6c9a804d35c009070641

[2015-12-27 16:57] roelmann commented on #9
https://github.com/roelmann/moodle-theme_flexibase/commit/722f9b096918281de23d3a15351062892f6fa20c

[2015-12-27 16:57] #9 closed, assigned to roelmann

[2015-12-27 16:58] roelmann opened #19 "Enable header background image for site pages (similar to course pages)"
Could use the default image for all pages - may need setting moved from courses to general?

[2015-12-27 16:59] roelmann commented on #3
Code for this was left in the awesomebar from upstream, but was commented out as unused in flexibase - could be re-enabled?

[2015-12-27 19:47] roelmann commented on #6
https://github.com/roelmann/moodle-theme_flexibase/commit/372873aa823f599f10ba79705c991e7b26a7fcf9

https://github.com/roelmann/moodle-theme_flexibase/commit/8193e9e8ed4f9606c948cb46b50f7a0932d07523

[2015-12-27 19:47] #6 closed, assigned to roelmann

[2015-12-27 19:48] roelmann commented on #5
https://github.com/roelmann/moodle-theme_flexibase/commit/8193e9e8ed4f9606c948cb46b50f7a0932d07523

[2015-12-27 20:35] roelmann commented on #19
https://github.com/roelmann/moodle-theme_flexibase/commit/cf4b23134745816ac66ff807e2654ce49b3deb32

[2015-12-27 20:35] #19 closed, assigned to roelmann

[2015-12-27 20:44] roelmann opened #20 "Add Gareths image upload code"

[2015-12-27 21:01] gjb2048 commented on #20
Hi Richard,

If you pay me I'll help you :).

Kind regards,

Gareth

Sent from my iPod in deep space...

On 27 Dec 2015, at 20:44, Richard Oelmann notifications@github.com wrote:

[2015-12-27 21:37] roelmann commented on #20
Thanks Gareth - enhancements will be a while away now due to other commitments, but I will bear your offer in mind when I next look at it. Hopefully will look myself as a learning experience first, but will let you know if I run into trouble with it.

[2015-12-27 21:38] gjb2048 commented on #20
Thank you for getting back to me Richard, good luck :)

[image: --]
Gareth J Barnard
[image: http://]about.me/gjbarnard
http://about.me/gjbarnard

On 27 December 2015 at 21:37, Richard Oelmann notifications@github.com
wrote:

[2015-12-27 23:42] roelmann commented on #18
Also appears on maintenance pages
Caused by one of the tests in modernizr,js

[2015-12-29 19:37] roelmann opened #21 "Setting request - favicon"

[2015-12-29 19:40] roelmann commented on #17
Closing issue as new theme version is now available from the themes database and most users will install from there or through cloning from github, rather than using the github zip file and having to rename.

[2015-12-29 19:40] #17 closed, assigned to nobody

[2015-12-29 19:43] roelmann commented on #5
Unsure about this - have done it previously so coding the options is not a problem but design of this theme deliberately has custom menu on the main nav bar. Is there a benefit in having the menu on the AB?
If options included, would moving the menu then need the lower navbar removed as it would potentially be empty? Does that affect the balance and look of the page on screen? What can be done abo

[2015-12-30 03:03] derekc commented on #21
+1 From me Richard

[2015-12-30 03:04] derekc commented on #20
Again a +1 from me

-Derek

[2015-12-30 03:05] derekc commented on #18
Version 3.0.6
Seems fixed maybe?

-Derek

[2015-12-30 03:09] derekc commented on #10
There are two menu areas where this is of interest to me.

1) The UserMenu, which I believe is the dropdown near your profile here:
![64 menus](https://cloud.githubusercontent.com/assets/687780/12045790/7a1b8972-af0f-11e5-968e-cdbffe5b2d6f.png)
2) The items on the Custom Menu:
![64 menus 2](https://cloud.githubusercontent.com/assets/687780/12045793/854c67da-af0f-11e5-8915-6e493390fab8.png)

Regard

[2015-12-30 03:15] derekc commented on #5
Richard, this may have been me that suggested this originally.

I'm quite happy for things to remain as they are in Flexibase.  ie two menus, one AB and one Custom Menu.
I have tinkered with a lot of options in BCU, Pioneer, Shoehorn and Flexibase.  All with the aim of having everything neatly at the top, and having not too much space taken up with this.

According to my sensibilities, the choices

[2015-12-30 03:16] derekc commented on #3
OK, +1 to this, ignore my comments on the other Issue, I did not see this.
I'd personally like to get rid of icons.  But again, I can live with them.

-Derek

[2015-12-30 09:54] roelmann commented on #18
Fixed on some pages Derek, but it was still appearing on others when I tested it.
I'd like to solve the underlying issue with modernizr.js even if I have managed to hide it on some pages, so re-opened the issue for myself :)

[2016-01-04 21:53] derekc opened #22 "Calendar overflow"
Just a quick note from one of the guys I work with.
![55 calendar](https://cloud.githubusercontent.com/assets/687780/12101594/72c6b9e6-b39a-11e5-8c4b-56a434969881.png)

Calendar seems to overflow with some screen resolutions.
I can get more info if you like.

-Derek

[2016-01-04 23:13] derekc opened #23 "Social Media Icons wrap at quite a wide screen"
![53](https://cloud.githubusercontent.com/assets/687780/12103245/9031a3fa-b3a5-11e5-8d52-71ce22a56ff0.png)

Is this a feature or a bug?  The social networking icons seem to wrap at a very wide screen.

-Derek

[2016-01-04 23:16] gjb2048 commented on #23
All bugs are features, just unexpected ones.

[2016-01-05 08:41] roelmann commented on #23
Its not really a feature or a bug - its a design decision based on the requirements for the sites the theme was originally created for.
The headerlogo area has a class of col-md-8 (header.php L72) and the social icons have a class of col-md-4 (social.php L57).
They could potentially be changed to use flexbox as other areas of the main layout do, but that would be an enhancement for a future versio

[2016-01-05 08:44] roelmann commented on #23
POTENTIAL ENHANCEMENT
Adapt div.headerlogo and div.socialicons to use flex layout rather than col-md BS grids

[2016-01-05 08:51] roelmann commented on #22
Also happens in bootstrap (at a slightly wider screen) and Clean (slightly narrower)

[2016-01-05 09:02] roelmann commented on #22
remove padding from .block .minicalendar th, .block .minicalendar td (upstream value 2px - /theme/bootstrap/less/moodle/calendar.less)
.block .minicalendar th, .block .minicalendar td  {padding: 0px;}

[2016-01-05 09:06] roelmann commented on #22
https://github.com/roelmann/moodle-theme_flexibase/commit/a1ad9a664878dd4bb61fce61cc42333ee340cd09

[2016-01-05 09:06] #22 closed, assigned to roelmann

[2016-01-07 01:39] derekc opened #24 "Setting at course level "Show Grades" faulting"
The information for students appears like this:

![50 grades](https://cloud.githubusercontent.com/assets/687780/12159975/36b2d044-b54c-11e5-9922-f900e63f2e5a.png)

I have the header set to 75px

I wondered if I had missed a setting for this in the Flexibase settings pages.

-Derek

[2016-01-07 01:52] derekc opened #25 "Misaligned categories on the front page"
Is this a setup something I have not got right:

![49 categories](https://cloud.githubusercontent.com/assets/687780/12160157/2db3afde-b54e-11e5-87a6-f552c348bb19.png)

I can see the obvious fix.  (Make all the category names the same length)
-Derek

[2016-01-07 02:09] derekc commented on #24
Also, I have just noticed this (below) has a hard coded link to localhost

![48 hard coding](https://cloud.githubusercontent.com/assets/687780/12160408/a33e73f4-b550-11e5-8e0d-29a4f4447293.png)

[2016-01-07 02:10] derekc commented on #24
Ops, Sorry, pressed wrong button.
"Close" does NOT mean shut down the tab and go somewhere else.

[2016-01-07 03:12] roelmann commented on #25
Its a side effect of the flexbox - but an unwanted one!
Options -
1. make category names the same length
2. set a fixed height for the category tile in the theme style/customcss. The downside of that is that if someone had an even longer category name, then it may cut off.
Add the following to customcss
.flexibasecats.panel {height: 230px;}

[2016-01-07 03:25] roelmann commented on #24
.courseheadergradepercentage table tbody tr:last-of-type .column-itemname,
.courseheadergradepercentage table tbody tr:last-of-type .column-percentage {
font-size:120%;
}
Will bring the course link back to a single line and so should fit with a 75px header

localhost link - obviously a BUG that needs fixing asap
for now, if you want to fix yourself, then in /flexibase/layout/includes/coursegrade.p

[2016-01-07 03:37] derekc opened #26 "Unusual stretch in tabs"
This is the tabs in the groups screen for a course.
This effect is in several other pages as well.  I can add some more screen snaps if it is useful.

![47 tabs](https://cloud.githubusercontent.com/assets/687780/12161627/d2e7cab8-b55c-11e5-88b7-f99b0eea788c.png)

-Derek

[2016-01-07 03:42] roelmann commented on #26
While I check if this is coming from upstream bootstrap, please add
.nav-tabs.nav-justified {width: auto;}
to customcss

[2016-01-07 17:37] roelmann commented on #24
Correct hard coded link
https://github.com/roelmann/moodle-theme_flexibase/commit/3caf0aabc058cab60de52baed800fcc8d8450693
Change language file to give detail of font-size change if small course header image used
https://github.com/roelmann/moodle-theme_flexibase/commit/ff1c4ce05890a96c49acb60f7f893fe2ac23b651

[2016-01-07 17:38] #24 closed, assigned to roelmann

[2016-01-07 17:41] roelmann commented on #26
Added to styles.css
https://github.com/roelmann/moodle-theme_flexibase/commit/a2f2155012ed70e4429c83db379abc07ba08a7f7

[2016-01-07 17:41] #26 closed, assigned to roelmann

[2016-01-07 17:50] roelmann commented on #25
styles.php to fix category panel height at 230px (suitable for two line titles)
language file altered to explain the fixed height and how to adjust it if required.

[2016-01-07 17:52] roelmann commented on #25
https://github.com/roelmann/moodle-theme_flexibase/commit/271a4a8ddf062d1e04665fdef7a91bce2b8444f4

[2016-01-07 17:52] #25 closed, assigned to nobody

[2016-01-07 18:44] roelmann commented on #18
Reverse previous commit https://github.com/roelmann/moodle-theme_flexibase/commit/8984707f17f232cca90c6c9a804d35c009070641
Update modernizr.js
https://github.com/roelmann/moodle-theme_flexibase/commit/0923774ed44ad91db772d5217b035a2b52d8d8ba

[2016-01-07 18:49] roelmann commented on #18
Believe this is now properly fixed

[2016-01-07 18:49] #18 closed, assigned to roelmann

[2016-01-07 23:33] derekc commented on #24
Thanks for this Richard.  And the other fixes.

[2016-01-10 18:04] roelmann opened #27 "Site Admin menu not populating in all pages"
Not adhering to 'populate Site Admin' setting

[2016-01-10 18:04] roelmann commented on #27
https://github.com/roelmann/moodle-theme_flexibase/commit/661c8f276ccf763c52559c293106001f1ce90590

[2016-01-10 18:04] #27 closed, assigned to roelmann

[2016-01-11 21:04] derekc opened #28 "Feature Request: remove or hide links"
Is there an easy way to remove or hide just these two links:
![40 links to remove](https://cloud.githubusercontent.com/assets/687780/12246520/c663158a-b913-11e5-8110-16fe6d8dbe42.png)

[2016-01-11 21:10] derekc opened #29 "Editing mode on and Admin view"
Some suggestions.

These are philosopical questions really.  One person's editing icons are another persons clutter.  The choices at home page and at course level are different.\

Firstly, have an edit on button on the home page (they exist at course level):
![39 edit button](https://cloud.githubusercontent.com/assets/687780/12246618/58e39038-b914-11e5-8608-a0247387eb14.png)
Next, Edit icon for se

[2016-01-11 21:11] derekc opened #30 "Awesomebar clash with full screen mode in ATTO with plugin"
![39 atto plugins](https://cloud.githubusercontent.com/assets/687780/12246693/d00d2ec6-b914-11e5-9a67-db8b0dd7c149.png)

[2016-01-11 21:12] derekc opened #31 "Width problem when slightly less than full screen"
![39 width](https://cloud.githubusercontent.com/assets/687780/12246715/eeda78fe-b914-11e5-9945-c13a4b6cb253.png)
This may need some more specifications to describe what is happening.  This is tabs from the one topic format.

-Derek

[2016-01-11 21:30] derekc opened #32 "Remove or move calendar icon | wastes space"
![38 calendar icon](https://cloud.githubusercontent.com/assets/687780/12247116/634c2d84-b917-11e5-8eb8-66b0a727d3bf.png)

Again, just a cosmetic comment

-Derek

[2016-01-11 21:31] derekc opened #33 "Navigation Request"
Highlight, make into a pill or a box - anything!!  the course name in the breadcrumbs.
To help new users

![38 course name in breadcrumbs](https://cloud.githubusercontent.com/assets/687780/12247163/9e173558-b917-11e5-8e22-e123011b3e98.png)

[2016-01-11 21:32] derekc opened #34 "Three stacked choices onto one | save space"
Another cosmetic comment.  Could these go on one level?

-Derek

![38 put on one line](https://cloud.githubusercontent.com/assets/687780/12247186/b94d8d5e-b917-11e5-852e-a651c9305add.png)

[2016-01-11 21:33] derekc opened #35 "Another space saving suggestion"
![38 save space](https://cloud.githubusercontent.com/assets/687780/12247205/cda16e10-b917-11e5-9a33-4522913e2b2f.png)
Two things on one level

-Derek

[2016-01-11 21:37] derekc opened #36 "Size of tiles"
![38 size of icons](https://cloud.githubusercontent.com/assets/687780/12247240/f6bd28a2-b917-11e5-91e6-bf07c824ef7f.png)

These tiles may be a little too big for some tastes.  Maybe they could have a couple of sizes?  I know this is probably a bit of work, but just thinking aloud.

The course tiles probably need a little work from someone with a design eye.  I've been testing out options for boots

[2016-01-11 22:06] roelmann commented on #28
Temporary work around (there's no setting for this yet, although it is already on the enhancements list - https://github.com/roelmann/moodle-theme_flexibase/issues/3)

comment out (or delete) renderers/core_renderer.php L159-172

[2016-01-11 22:09] roelmann commented on #29
I believe these are core moodle functions (ie compare to Clean and it is the same). It would need significant development to add the functionality to flexibase.
I'll look at it, but probably a long term enhancement - maybe a tracker improvement for core! :)

[2016-01-11 22:27] roelmann commented on #30
Is full screen an installable plugin for Atto as I don't seem to have it.
Full screen in TinyMCE removes all surrounding options including awesomebar, so this may be an issue for the Atto plugin. I'll have to find it and install it to check.
However, worth noting that no theme guarantees it will work with all non-core plugins (which doesn't mean I won't check specific ones like this on request :)

[2016-01-11 22:30] roelmann commented on #31
One-Topic is contributed plugin. Will need to install it to check what's happening and compare to other themes.

[2016-01-11 22:32] derekc commented on #29
Ahh.  I'll create a tracker item.  See what happens.

-Derek

[2016-01-11 22:34] derekc commented on #30
Yes, it's a plugin, I should have said this: https://moodle.org/plugins/atto_fullscreen
I know: templates will not always play nicely with other plugins.

-Derek

[2016-01-11 22:35] roelmann commented on #32
Add .eventlist .event .icon {display:none;} to customcss
But yes, does seem a pointless icon, so will remove in a future version

[2016-01-11 22:41] roelmann commented on #32
.eventlist .event h3 {margin-top:0;} then improves the top spacing as well

[2016-01-11 22:42] roelmann commented on #33
OK, will look at the renderer to see how that can be achieved

[2016-01-11 22:48] roelmann commented on #34
Will need to check where the code below comes from - but it's wrong and shouldn't be there (at least its wrong for this theme - may come from parent?)
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    float: none;
    width: 100%;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    float: left;
    width: 33%;
}

[2016-01-11 22:52] roelmann commented on #34
Temporary workaround - customcss
#page-mod-forum-discuss .discussioncontrols .discussioncontrol,
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion.movediscussion {width:auto; float:right;}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion.movediscussion {margin-top:0;}

[2016-01-11 23:03] roelmann commented on #35
Temporary workaround - CustomCSS
#page-course-index-category .categorypicker, #page-course-index-category #coursesearch {float:right;width:auto; margin:0 0 0 20px}

[2016-01-11 23:07] roelmann commented on #36
Thought I already had this but can't see it anywhere, probably from a forum discusssion somewhere then.
Definitely a setting needed as ths is a request in several other themes that use these icons. I think there is also a request to be able to replace them with images rather than FA icons, which I would also look at at the same time.

[2016-01-12 01:09] derekc commented on #24
We have hidden it this function.  With the fixes it made it smaller, but there is still something causing the white menu bar to increase in size.

![38 calendar icon](https://cloud.githubusercontent.com/assets/687780/12251738/0da07ace-b936-11e5-9418-8a85b69a7115.png)

[2016-01-12 01:12] derekc commented on #24
We have hidden this information in the header. While the fixes made it smaller, there is still something causing the white menu bar to increase in size.

![38 grade in header](https://cloud.githubusercontent.com/assets/687780/12251763/32ad5a62-b936-11e5-8b08-50ea58a7a26e.png)

[2016-01-12 14:01] roelmann commented on #32
https://github.com/roelmann/moodle-theme_flexibase/commit/208093f03fdeef80e90c7bc4c273f9a0d42b728e
https://github.com/roelmann/moodle-theme_flexibase/commit/7dfbff42c753a51615912e81e9fcbe047417dacd

[2016-01-12 14:01] #32 closed, assigned to roelmann

[2016-01-12 14:02] roelmann commented on #34
https://github.com/roelmann/moodle-theme_flexibase/commit/208093f03fdeef80e90c7bc4c273f9a0d42b728e

[2016-01-12 14:02] #34 closed, assigned to roelmann

[2016-01-12 14:02] roelmann commented on #35
https://github.com/roelmann/moodle-theme_flexibase/commit/208093f03fdeef80e90c7bc4c273f9a0d42b728e

[2016-01-12 14:02] #35 closed, assigned to roelmann

[2016-01-12 21:50] derekc commented on #30
OK, I will post over on the ATTO plugins page

-Derek

[2016-01-13 00:25] derekc commented on #30
Fixed.  CSS from https://moodle.org/plugins/atto_fullscreen

.atto-fullscreen #awesomebar {
display: none;
visibility: hidden
}

From Daniel Thies

[2016-01-13 07:07] roelmann commented on #30
Thanks Derek
Added to github
https://github.com/roelmann/moodle-theme_flexibase/commit/ab0eed35150052e44f982cc3d2c0ec6a78abb8b4

[2016-01-13 07:07] #30 closed, assigned to nobody

[2016-01-19 09:07] derekc opened #37 "Courses Page | extra space in categories | odd formatting of courses"
![99 flexi courses](https://cloud.githubusercontent.com/assets/687780/12414195/c3c2329e-bef8-11e5-9c24-c84f366a0357.jpg)

There is this large chunk of empty space, maybe related to all the images I switched off for each category.

Plus if there is a subcatagory, the formnatting of course names (at the bottom) changes to body style.

-Derek

[2016-01-20 16:43] roelmann opened #38 "Add Google fonts"

[2016-01-20 16:46] roelmann commented on #31
OneTopic is currently only officially supported upto Moodle 2.9. Will revisit this issue if and when a 3.0 version is released

[2016-01-20 16:49] roelmann commented on #28
Closed as duplicate

[2016-01-20 16:49] #28 closed, assigned to roelmann

[2016-01-20 16:50] roelmann commented on #23
Closed as wontfix

[2016-01-20 16:50] #23 closed, assigned to nobody

[2016-01-20 16:52] roelmann commented on #37
Derek, please can you tell me what images have been switched off and where and how and what other changes have been made as I cannot replicate this at the moment

[2016-01-20 17:33] roelmann opened #40 "rewrite blocks renderer to render blocks as panels"

[2016-01-20 17:34] roelmann opened #41 "block region(s) as off screen slide in pane"

[2016-01-20 17:38] roelmann opened #42 "Improve theme documentation"
Add Docs page to settings (language strings only?)
Also improve example course and docs on roelmann.no-ip
Create docs page on moodle.org?

[2016-01-20 21:20] roelmann commented on #21
https://github.com/roelmann/moodle-theme_flexibase/commit/c41fc6f1bbd89b8d4ea4b5f252f02570e92a7104

[2016-01-20 21:20] #21 closed, assigned to roelmann

[2016-01-20 21:41] roelmann commented on #42
Settings Help page added to lang file - content to be added https://github.com/roelmann/moodle-theme_flexibase/commit/27897e8d4fc34886d717c589afb82d8869083da4

[2016-01-20 22:50] roelmann commented on #33
Renderer altered to add class to categories and courses. Simple style (bold) added to courses.
Design decision needed re additional styling. For now, I think that is enough - users can now add additional styling through customcss if required
https://github.com/roelmann/moodle-theme_flexibase/commit/4cd2e13a5de8ae142d3e0240d353a3148d5abf23

[2016-01-20 22:50] #33 closed, assigned to roelmann

[2016-01-20 22:58] derekc commented on #37
Ah, slip of the pen.
I have:
*_Nothing displayed on the home page (no categories or courses) (in Front Page choices)
*_I have switched off "Enable category icons" http://<website>/admin/settings.php?section=theme_flexibase_categoryicon

If I then navigate to a category page I get the errors.

-Derek

[2016-01-22 17:36] roelmann opened #43 "Move setting navigation buttons out of language strings and into page layout file"

[2016-01-22 18:42] roelmann commented on #43
https://github.com/roelmann/moodle-theme_flexibase/commit/e7a908ad6183e04ae63f0297504abe55782e768e

[2016-01-22 18:42] #43 closed, assigned to roelmann

[2016-01-22 22:16] roelmann commented on #36
FA-Icon size setting
https://github.com/roelmann/moodle-theme_flexibase/commit/ac4d5fdf02b1c103b2bc435d28dfa77af3c1f92e
Categories as images rather than icons to be added as 'wishlist' in separate issue - low priority

[2016-01-22 22:16] #36 closed, assigned to roelmann

[2016-01-22 22:17] roelmann opened #44 "Add option to have images instead of fa icons for categories"
Low priority

[2016-01-22 22:32] roelmann commented on #37
Bug caused by setting categorypanel size in previous issue
Resolved
https://github.com/roelmann/moodle-theme_flexibase/commit/47e51c0bd08e21bf72aa985efa8de5316d39c1c8

[2016-01-22 22:32] #37 closed, assigned to nobody

[2016-01-22 23:30] roelmann commented on #42
Settings help page corrected to separate page instead of being a 'setting' language file
https://github.com/roelmann/moodle-theme_flexibase/commit/8e1492e145149ecda8b960a1a761429db57cf213

[2016-01-23 15:50] roelmann opened #45 "Persistent removal of alerts"

[2016-01-23 15:51] roelmann commented on #20
https://github.com/roelmann/moodle-theme_flexibase/commit/1b76907157fb881ba275c84d0cab86e96fd7f83b

[2016-01-23 15:51] #20 closed, assigned to roelmann

[2016-01-23 17:00] gjb2048 commented on #20
Looks good :)

[2016-01-23 17:11] roelmann commented on #20
Thanks Gareth - very few changes needed to your excellent work. Just things like the way I call the functions, as I haven't used the 'toolbox' you have in your theme. Other than that, its basically all yours (and hopefully credited as such in the files! - If not and I've missed any credits, then I will certainly add them in as I go on)

[2016-01-23 17:16] gjb2048 commented on #20
Credit is good thank you Richard.

The toolbox thing is just really a combination of autoloading for caching and an out of global scope thing.

[2016-01-23 22:31] roelmann commented on #3
https://github.com/roelmann/moodle-theme_flexibase/commit/085da658213f0eedb5297919e3d382e6c9d7035c

[2016-01-23 22:31] #3 closed, assigned to roelmann

[2016-01-23 22:31] roelmann commented on #10
https://github.com/roelmann/moodle-theme_flexibase/commit/085da658213f0eedb5297919e3d382e6c9d7035c

[2016-01-23 22:31] #10 closed, assigned to roelmann

[2016-01-23 22:33] roelmann opened #46 "Investigate /user/preferences.php renderer and restyle as panels"
Restyle the user/preferences.php page as panels in the same way as the profile page

[2016-01-23 23:24] roelmann commented on #5
https://github.com/roelmann/moodle-theme_flexibase/commit/969d46e34bb3dde41506eb98bb723b43d0280168
This may need to be looked at again in order to make the top bar option collapsible on small screens if the menu is added there. Note also the AB is currently hidden on small screens - that may also have to be looked at.
For now, language strings warn that the main menu bar is the only responsive loc

[2016-01-23 23:24] #5 closed, assigned to roelmann

[2016-01-24 20:43] roelmann opened #47 "restyle blocks as panels"

[2016-01-24 23:03] roelmann commented on #38
Will be adding the ability to copy and paste the <link> code for any web-based font
https://github.com/roelmann/moodle-theme_flexibase/commit/0f5c4095a4cf137525944fe0258e1394fbc340a8

Check whether this is a security issue! may need to split the user input to make sure the code is correctly generated and doesn't allow for injection! DONE
https://github.com/roelmann/moodle-theme_flexibase/commit/9b

[2016-01-25 18:52] roelmann commented on #38
https://github.com/roelmann/moodle-theme_flexibase/commit/12ac1824150dc3cde9ec1fd7868a4e6e04cf9eda

[2016-01-25 18:52] #38 closed, assigned to roelmann

[2016-01-25 18:53] roelmann commented on #47
Closed as duplicate

[2016-01-25 18:53] #47 closed, assigned to roelmann

[2016-01-25 22:54] roelmann commented on #46
https://github.com/roelmann/moodle-theme_flexibase/commit/07be49700478e5643ccbe9a3deef5bb8af85bbfa

[2016-01-25 22:54] #46 closed, assigned to roelmann

[2016-01-26 21:53] roelmann commented on #42
https://github.com/roelmann/moodle-theme_flexibase/commit/37ad43f4d00f3376366297ef62abbd45893f4ccf

[2016-01-27 21:16] roelmann opened #48 "FA CDN added - either remove CDN and update css and font folder or remove css and fonts before STABLE release"

[2016-01-27 21:18] roelmann opened #49 "Replace travis and deal with issues arising"

[2016-01-27 22:09] roelmann opened #50 "Add an Admin only block region"

[2016-01-29 22:24] roelmann commented on #42
Reminder to self - once developed all content needs to be moved to language strings

[2016-01-29 23:30] roelmann commented on #50
https://github.com/roelmann/moodle-theme_flexibase/commit/2b819e74243e01fd76091d2d965a51444eb4133b

[2016-01-29 23:30] #50 closed, assigned to nobody

[2016-01-30 11:08] roelmann commented on #40
https://github.com/roelmann/moodle-theme_flexibase/commit/c28ddbfd8ab5c10d1b386f69fafb07b1d8391e7a

[2016-01-30 11:08] #40 closed, assigned to nobody

[2016-01-30 21:03] roelmann commented on #42
https://github.com/roelmann/moodle-theme_flexibase/commit/3bdbf3731b86aa5fba8cb4dc6d3cc350ab96671c

[2016-01-31 00:21] roelmann opened #51 "'Retire' plugins"
As there has been no feedback on the use of the plugins in the forums or anywhere else, and given the time commitment needed to maintain them, consider whether to drop this as a theme feature, or develop it for one more round and see where it goes after that.
Proof of concept worked, but take up and interest appears minimal for the maintenance effort required

[2016-01-31 00:24] roelmann opened #52 "Tidy and organise LESS and CSS that has been added since release"
This is a straight code tidying task, not a development one - no changes should be made in this Issue other than reorganisation of code

[2016-01-31 11:43] roelmann opened #53 "Provide additional colours for pix_core icons"
Based on forum request after original release

[2016-01-31 11:43] roelmann commented on #53
https://github.com/roelmann/moodle-theme_flexibase/commit/bd9a5826447087b3fc53b9a4678d6f81dba5b8a8

[2016-01-31 11:43] #53 closed, assigned to nobody

[2016-01-31 16:42] roelmann commented on #45
Feedback from users (in work) Alert messages should not be user dismissable - they are there for a purpose

[2016-01-31 19:24] roelmann commented on #45
Alerts have a permanently dismisable setting in the Adaptable theme, which works well. Consultations with admins of a several systems in work suggest these alerts should not be user removable. They are used for crucial messages and the fear is that users will begin to simply dismiss them without reading (comments based around how many people actually read the kind of popup messages and alerts on m

[2016-01-31 19:27] gjb2048 commented on #45
Or.... make them like those birthday cake candles that re-light after a few seconds when you've blown them out.  So, dismiss the alert, then 10 seconds later, it comes back :)

[2016-01-31 19:38] roelmann commented on #45
lol :)
Guess I'm trying to get my head around whether this is a good idea or not - I like the way it works in Adaptable, and I have had a request from one user to add this functionality when I first released the theme. But have talked to the original client and they don't want it and talked to some colleagues in work and they don't either. Currently the score is about 1 for persistent removal v 7

[2016-01-31 19:49] roelmann commented on #45
Current thinking is not to add the persistent dismissal. If someone wants it for their site I'll add it as a funded project

[2016-01-31 19:52] roelmann commented on #44
Initial requirement from a single user. Font Awesome options (sizes) have been improved. Therefore will only add this as a paid for development

[2016-01-31 19:54] #29 closed, assigned to nobody

[2016-01-31 20:04] gjb2048 commented on #45
EU Cookie law is a nightmare - however if you keep the state on the server then not a cookie.  Other data protection laws might apply.  But this is just user decision data not personal identifying stuff which is exempt cookie wise (check) - I did the same thing many years ago when CT used cookies.

[2016-01-31 20:05] roelmann commented on #31
Will remove the wontfix label and take another look when this is available for Mdl3 - although as its a 3rd party plugin this may require external funding

[2016-01-31 20:08] roelmann commented on #45
Good point - thanks for that Gareth.
Might look at this again in the future, or if someone else requests it/funds it. For now, putting it on hold

[2016-01-31 20:10] roelmann commented on #51
If not retiring them, then they all need to be updated prior to next stable release, including new features where appropriate to provide them as plugins

[2016-01-31 20:13] roelmann commented on #48
https://github.com/roelmann/moodle-theme_flexibase/commit/45931753d84f39e2c5ea32dca962ec4a15859f22 - offline FA files updated

[2016-02-01 11:34] roelmann opened #54 "Font setting - number of fonts"
Number of fonts needs to be set to 0 by default otherwise triggers errors when no fonts are set eg. on new install

[2016-02-01 12:19] roelmann opened #55 "Extend font settings to allow direct uplaod of font files as well as the web-link fonts"

[2016-02-02 08:19] roelmann commented on #42
Main text completed
Where to put it? Currently linked from settings pages, but some of it is relevant to content creators - not all!
Add it to custom menus as an additional setting - submenus with pages for roles? Except roles/capabilities vary.

[2016-02-02 08:19] roelmann commented on #42
Complete
https://github.com/roelmann/moodle-theme_flexibase/commit/896420a48d71d53a3fa4927d94ff5983210fc812

[2016-02-02 08:19] #42 closed, assigned to roelmann

[2016-02-02 08:21] roelmann commented on #54
https://github.com/roelmann/moodle-theme_flexibase/commit/a45372fe52ef43b2e468874eec4dab308a76b316
Fixed

[2016-02-02 08:21] #54 closed, assigned to roelmann

[2016-02-02 10:04] roelmann commented on #51
Plugins will be removed from the theme and will be developed separately as a new repository on github. That way, I can continue to make them available to people on request, but the theme itself is simplified.
https://github.com/roelmann/moodle-theme_flexibase/commit/09137df65ba1b644cc79291a62b8b7dd0f38173e

[2016-02-02 10:04] #51 closed, assigned to nobody

[2016-02-02 10:07] roelmann commented on #49
https://github.com/roelmann/moodle-theme_flexibase/commit/b0e9a846164c4e4f68e50277dc35bbbbd4feffa8

[2016-02-03 20:24] roelmann commented on #49
Done

[2016-02-03 20:25] roelmann commented on #48
Leave CDN in place and leave files in place for anyone not using CDN

[2016-02-03 20:25] #48 closed, assigned to nobody

[2016-02-03 20:36] derekc opened #56 "No preferences in user menu"
I'm calling the menu top right the user menu.  It seems to have no preferences link.
Is this a feature or a bug?

Flexibase:  No prefs
![82 pref](https://cloud.githubusercontent.com/assets/687780/12796243/a051ec42-cb22-11e5-8cd6-7efbee48baed.png)

Clean:
![82 pref clean](https://cloud.githubusercontent.com/assets/687780/12796250/a8f33464-cb22-11e5-9c48-96029c22ba66.png)

Thanks
-Derek

[2016-02-03 20:51] roelmann commented on #56
Have you checked its ticked in the User Menu settings page?

[2016-02-03 22:18] roelmann commented on #56
Is it the latest version Derek? The User Menu preferences were added a few weeks ago. One thing I did notice, and Im not sure why, on a clean install, the defaults all pick up properly (such as this being set to Yes) on an upgrade, new settings like this stay as null and need to be changed manually.
I think that's deliberate in the way plugin upgrades generally work (but not sure) as it prevents u

[2016-02-03 22:28] derekc commented on #56
Version: v3.0.7a - 2016010701
Yes, checked the themes usermenu setting, preferences is there.,

[2016-02-03 22:31] derekc commented on #56
Question: sometimes Bob has logged in to see a message "New versions" and has just clicked to upgrade.  What makes this functionality kick in?

I've discovered the current version (from version.php) as $plugin->release  = 'v3.1.0rc';
When do I get a message "Plugins ready to upgrade" and when not?
How do I upgrade to a new version by choice?  Is it the full download zip and uploade (etc)?

Thanks

[2016-02-03 22:39] roelmann commented on #56
The "plugins ready to upgrade" notice should be when a new version is released to the plugins database - it shouldn't get triggered by the updates to github. I'm not sure what happens if you have installed a plugin via cloning directly from github in the first place though (I believe it still gives you the upgrade notice based on the database but then warns you that upgrading that way will remove

[2016-02-03 23:30] roelmann commented on #56
3.0.7a - Doesn't have the user menu settings and wont have the Preferences in the User drop down - Last commit to github was 24 days ago on the STABLE_30 branch, which is what is on the plugins database
User Menu options were added 11 days ago to Master branch - https://github.com/roelmann/moodle-theme_flexibase/commit/085da658213f0eedb5297919e3d382e6c9d7035c Not yet released to the plugins databa

[2016-02-03 23:58] roelmann commented on #56
'Yes, checked the themes usermenu setting, preferences is there.,' Just realised what you have checked...
No - in common with quite a few other themes, Flexibase 2 and 3.0 did/do not support the new (at the time of flexibase's initial development) user menu.
Flexibase 3.1 still doesn't support the one from the general themes settings page, it has its own custom user menu setting which overrides th

[2016-02-05 21:34] roelmann commented on #56
No issue to fix
'Preferences' menu not supported in earlier versions of flexibase, is already supported in the latest version via its own flexibase theme setting. See  http://yourmoodlesite/admin/settings.php?section=theme_flexibase_menusettings

[2016-02-05 21:34] #56 closed, assigned to nobody

[2016-02-06 20:26] roelmann opened #57 "Marketing spot setting to allow display as icon+description rather than block"

[2016-02-11 21:44] roelmann opened #58 "drag and drop region outlines to only appear when actually dragging a block"
The regions inside the centre section already do this, so need to work out why they behave differently to the regions outside the main area.

[2016-02-11 21:57] roelmann commented on #58
Hmm, seems to only be the case if something was originally in that block region when the page was opened.
If all blocks are removed from the region, then the page REFRESHED then the block region does not appear until something is being dragged

[2016-02-11 22:00] roelmann commented on #58
When the page is originally rendered, the 'has block region xxx' variables are established, these remain in place until a page refresh, they are not altered by dragging blocks out of the region.
Hence the difference in testing with the content in the main centre region - they did not have content to drag out in the first place during the testing, rather than because of where they are.

[2016-02-11 22:01] roelmann commented on #58
Not sure if this is something that can be fixed - at least not without significant time and resource as it would probably involve using ajax to reset the 'has block region' variables every time something is moved.
Potentially a core issue?
Further testing required to determine if this is an issue to be fixed/enhanced or one that is would require core changes in js/ajax relating to drag and drop of

[2016-02-11 22:13] gjb2048 commented on #58
"place until a page refresh, they are not altered by dragging blocks out of the region" = wrong.  They do change when a block region becomes empty during d&d.

[2016-02-11 22:18] roelmann commented on #58
hmm, then I wonder what is keeping those block regions open when the content is dragged out of them, while the regions that were empty when the page was rendered are only shown when actually dragging - including the same page after a refresh, that the side-post region I was looking at was then hidden until I started dragging, while prior to the refresh it was staying open after the content was dra

[2016-02-11 22:55] roelmann commented on #58
Gareth is obviously correct - if they didn't change then the blocks wouldnt get displayed because the display:none would still be in place, so need to rethink the logic behind this and why it works the way it does

[2016-02-11 23:03] roelmann commented on #58
ah - possibly (???) the $mainlayout which feeds from the ->known-region for side pre and side post is not getting updated, or that the css from them is not, so that its maintaining the twomainsides body class after the d&d until the page refresh.
That is a requirement of using the flexbox to allow the multiple layouts to be selected, so need to find a way around that so that the $mainlayouts and b

[2016-02-12 07:26] #45 closed, assigned to roelmann

[2016-02-12 07:27] #31 closed, assigned to nobody

[2016-02-14 08:40] roelmann opened #59 "Code change for block setting navigation node for Mdl3.1 creates strict standards declaration"
Needs to be amended for Mdl3.1 only, not Mdl3.0

[2016-02-14 11:27] roelmann commented on #59
https://github.com/roelmann/moodle-theme_flexibase/commit/b0abaf67cd422302cce4ff2cd6fca819d500064b
Fixed
flexibase settings renderer has conditional to apply relevant override to 3.0 or 3.1 as appropriate

[2016-02-14 11:30] roelmann commented on #59
Check Mdl version number when the new setting renderer was applied

[2016-02-14 12:29] roelmann commented on #59
Done

[2016-02-14 12:29] #59 closed, assigned to nobody

[2016-02-14 18:42] roelmann commented on #49
Just noticed: minor change to bump version and readme file has caused a failed travis report with multiple spacing errors in multiple files.
Presumably something has changed in the test as only 2 lines of 2 files were changed in the repository, yet the travis tests show spacing errors in multiple files that passed previously.

[2016-02-14 19:11] roelmann commented on #49
But the reported errors do not make sense and would cause the standard indenting to look terrible!
particularly if statements being backed out of the flow of indenting and brought 4-8 spaces back to the left

[2016-02-14 19:15] gjb2048 commented on #49
Hi Richard,

Looks like 'Code checker' was 'improved' yesterday.  I've spent literally hours today dealing with the complaints its making.

G

[2016-02-14 19:17] gjb2048 commented on #49
Also see: https://tracker.moodle.org/browse/CONTRIB-6143

[2016-02-14 19:19] gjb2048 commented on #49
Code Checker is EVIL it never makes sense, it just has to be obeyed.

[2016-02-14 19:19] gjb2048 commented on #49
Looks like the new 2.5.1: https://github.com/moodlehq/moodle-local_codechecker/releases

[2016-02-14 19:23] gjb2048 commented on #49
Indenting wise, it looks like it gets confused if the starting line is wrong around the point of whinge.  Therefore I just made that line sensible and flowed everything from that, i.e: https://github.com/gjb2048/moodle-theme_essential/commit/a85a228057a3e8e62b2966e4bfe09177a40a361e and https://github.com/gjb2048/moodle-theme_shoehorn/commit/d9cbbb0e3fb06d4a53489ab5853dcb51e1e4d75f

[2016-02-14 19:24] gjb2048 commented on #49
Good luck! :)

[2016-02-14 19:33] roelmann commented on #49
Thanks Gareth - I guess so, and then we'll have to change them all back again when they realise they've messed up and their  own code fails against it :)

[2016-02-14 20:52] roelmann commented on #49
The problem with the reflowing around where the code checker says its wrong is that it wants me to move it back 4 spaces, which will give 0 indent, the same as the div its wrapped in.
Asking for more info from the HQ developer team that made the changes
https://moodle.org/mod/forum/discuss.php?d=328076#p1319515

[2016-02-15 22:45] roelmann commented on #49
https://tracker.moodle.org/browse/CONTRIB-6146

[2016-02-15 22:46] roelmann commented on #49
Put changes on hold pending Eloy's findings in tracker relating to the code sniffer - there will be some changes because of more accurate code checking, but not the extent currently being reported.

[2016-02-16 08:11] roelmann opened #60 "block region pushing links and content to overlap when editing is on"
https://moodle.org/mod/forum/discuss.php?d=327560#p1319839

[2016-02-16 08:14] roelmann opened #61 "Course menu overflow"
https://moodle.org/mod/forum/discuss.php?d=327560#p1319839

[2016-02-16 09:43] roelmann commented on #60
This links to Issue#58 (I think)
WHEN editing is on (need to check if thats a factor, but when editing is off and the following conditions apply then region width = 0 anyway so not displaying) AND no content in side-post...
It is displaying as part of region-main with no flexicontainerpost class being added, so not coming from proper theme block renderer, so where is it coming from?
ALSO check wha

[2016-02-16 10:28] roelmann commented on #60
Should be fixed with Issue #58 as regions will only appear now when actually dragging

[2016-02-16 10:30] roelmann commented on #58
Further investigation revealed a BUG where not all empty regions were being hidden in the flexibox.css style sheet :(
Now fixed https://github.com/roelmann/moodle-theme_flexibase/commit/9ac4406faec34168007ef716c44874f5589eef29

[2016-02-16 10:30] #58 closed, assigned to roelmann

[2016-02-16 10:34] #60 closed, assigned to roelmann

[2016-02-16 10:39] roelmann commented on #61
The course menu block is only supported in the plugins database upto Moodle2.5 and as a third party plugin I will not be installing this on my system to test

[2016-02-16 10:39] #61 closed, assigned to roelmann

[2016-02-16 10:53] roelmann commented on #61
Confirmed on Derek's dev site that this overlap behaviour is also present in Clean theme. Therefore not a theme specific issue and with the outdated plugin, will not be investigating specifically for flexibase

[2016-02-16 19:43] roelmann commented on #49
https://github.com/roelmann/moodle-theme_flexibase/commit/7f86735e4ac2dbddb6911e296ff9c70a345d98e6 - Some changes

[2016-02-16 20:45] lazydaisy commented on #58
Where is this "known region" coming from? That is not a Bootstrapbase expression?
There is a simple logic in Clean theme layouts if you need a better set up as the logic in AJAX D&D is based on that.
Every block region has a set of body classes associated with it, so until the layout reches the point that it triggers a body class of content-only will the CSS make the page work as it should.

To ac

[2016-02-16 21:12] roelmann commented on #58
No its not bootstrap, or the standard Moodle logic Mary. It's related to the way I overrode the bootstrap grids and layouts with the flexbox layouts css and allowing the administrator to select a layout from a settings page.
So the code needs to be able to adapt for those changes, rather than just adjusting to what is in the config.php, and needs to know what regions are known about, not just whic

[2016-02-16 21:27] roelmann commented on #58
The big thing I guess is that there are two huge differences between flexibase and clean -
One is the use of flexbox and completely removing all the bootstrap grid references from the layout styling
The second is using that flexbox styling to allow the admin to select a layout from a settings page, which is not possible in any other theme that I'm aware of and needs additional logic to facilitate

[2016-02-16 22:58] roelmann commented on #49
https://github.com/roelmann/moodle-theme_flexibase/commit/14936e71edcfa215b7a43455c733c9114bc99baa - Some changes in renderer files (navigation block renderer o/s as that has duplicate code issue as well (It IS duplicate code - direct from both new and old versions of the original renderer!)

[2016-02-17 00:32] lazydaisy commented on #58
Sound interesting, I haven't had that much time to explore Flexibase yet, but now that you fixed the renderer I'll try and make time to delve into the coding to see how it's put together.

[2016-02-18 23:29] roelmann commented on #52
https://github.com/roelmann/moodle-theme_flexibase/commit/9d777b5f1f8c6a528d874f8a3bace06f65947296

[2016-02-18 23:29] #52 closed, assigned to nobody

[2016-02-19 09:52] roelmann commented on #57
https://github.com/roelmann/moodle-theme_flexibase/commit/d99ca95f0b77c4cd2f877cf8b1d0715acb392cf4

[2016-02-19 09:52] #57 closed, assigned to nobody

[2016-03-15 15:38] derekc opened #62 "Problem with blocks"
Richard will know what this is.
See: https://moodle.org/mod/forum/discuss.php?d=329028#p1327247

-Derek

[2016-03-17 13:35] roelmann commented on #62
Fixed - thank you for reporting Derek. This is now on github and will be pushed to the Moodle plugins database shortly
https://github.com/roelmann/moodle-theme_flexibase/commit/40f1123a6f0e2586f1d1ba32a9b9185cb84d48e9

[2016-03-17 13:35] #62 closed, assigned to nobody

[2016-03-17 13:52] roelmann commented on #49
Closed thanks to several commits, but mainly thanks to Eloy's work correcting an issue with the php code sniffer used by Travis, upstream

[2016-03-17 13:52] #49 closed, assigned to nobody

[2016-03-28 18:05] roelmann commented on #41
Possibly using http://www.jasny.net/bootstrap/javascript/#offcanvas
Remove docking if this is in place or have them slide in from the other side?
Multiple slide in panels? Icon 'pullers'? Setting to add different icons (Get basic structure working first!)

[2016-04-02 18:10] roelmann opened #63 "Add new region - 'Teacher'"
This region would be similar to the Site Admin region, but for users with Edit Page capability or higher.
Potentially set as default region? This would mean Add a Block would come into that region so that main layouts of the page are unaffected in edit mode.
Course Page/Front Page only - therefore doesn't affect Dashboard/profile pages

[2016-04-02 18:13] roelmann opened #64 "Add new region - 'Alerts'"
This would provide an alternative to the Admin created alerts. Allow a block (eg HTML block) to be added instead - this can then be edited (or removed) by anyone with frontpage editing rights
Hmmm - issue: currently alerts appear on frontpage and MyHome which may be the default. Would need instructions to set HTML block as appear on all pages??
BUT its an alternative for those sites who want to pr

[2016-04-04 13:15] roelmann opened #65 "create an editor.css"

[2016-04-11 22:31] roelmann commented on #63
Done on localhost - full testing needed
All pages but site/viewreports capability used, so will only appear for teachers+ within that context ie students never have capability (as standard) to view site reports, even on pages they can edit

[2016-04-11 22:34] roelmann commented on #64
Plan to hide panel header in this region to minimise space taken
Needs to show headers in editing mode otherwise tool icons not available

[2016-04-12 05:55] roelmann opened #66 "Update to FA4.6.0 for accessibility"

[2016-04-17 16:42] #63 closed, assigned to nobody

[2016-04-17 17:40] #64 closed, assigned to nobody

[2016-04-17 17:41] roelmann opened #67 "Add to theme help docs"
Add info re new features such as new regions - Teacher/Alerts

[2016-04-17 18:18] roelmann commented on #66
FA CDN updated, offline font files removed
https://github.com/roelmann/moodle-theme_flexibase/commit/d2bcd587f506bc10c56597fabdd99c0b26dcc86a

[2016-04-17 18:18] #66 closed, assigned to nobody

[2016-04-17 18:22] roelmann opened #68 "Apply coursebox layout to dashboard page"
course box with images similar to front page display
Needs some kind of pop-up for additional info

[2016-04-23 22:23] #67 closed, assigned to roelmann

[2016-04-24 16:43] roelmann commented on #68
Sort out Travis issues (largely from core code ;) )

[2016-04-24 16:43] roelmann commented on #68
Does this need a setting to enable/disable?

[2016-04-25 19:24] roelmann opened #69 "update block method"
$OUTPUT->blocks_for_region should be $OUTPUT->blocks

[2016-04-25 19:27] gjb2048 commented on #69
Would it make more sense to have a custom method $OUTPUT->lego() ? ;)

[2016-04-25 20:21] roelmann commented on #69
blocks_for_region is only used as a function in core_renderer, the layout files all already use $OUTPUT->blocks.
Cannot locate any $OUTPUT->blocks_for_region as reported
The blocks_for_region function is a direct upstream copy from decaf re awesomebar therefore will not be changed in flexibase.

[code]

[2016-04-25 22:44] #69 closed, assigned to roelmann

[2016-04-26 21:42] roelmann opened #70 "Correct issues with secure page layout"
Completed

[2016-04-26 21:45] roelmann commented on #70
https://github.com/roelmann/moodle-theme_flexibase/commit/af22ec30a02450ce533160b56a094909b37cede8
https://github.com/roelmann/moodle-theme_flexibase/commit/fb11379207adb345285a8e0d524ffe3f2d811b61

[2016-04-26 21:45] #70 closed, assigned to roelmann

[2016-04-27 08:35] roelmann commented on #68
Setting done
Theme docs needed

[2016-04-27 22:40] roelmann commented on #65
Fixed

[2016-04-27 22:40] #65 closed, assigned to nobody

[2016-04-27 22:41] roelmann commented on #68
All done

[2016-04-27 22:41] #68 closed, assigned to nobody

[2016-04-28 08:25] roelmann opened #71 "Add responsiveness to new coursetiles dashboard view"
Apply flexbox, not just panel width

[2016-05-14 19:54] roelmann opened #72 "New block region - course creators only"
https://github.com/roelmann/moodle-theme_flexibase/commit/e0a24e42911d084ba75fe532d53a9542d930049d
Done

[2016-05-14 19:54] #72 closed, assigned to roelmann

[2016-05-22 19:59] roelmann opened #73 "Mdl 3.1 Block changes for setting and nav block"

[2016-05-22 20:00] roelmann commented on #73
temporarily remove the renderers - need to be reworked for 3.1

[2016-05-23 21:13] cwkerns opened #74 "Link not working in carousel slider"
I am using the flexibase theme in a moodle installation (love it by the way) But the links that are set in the Carousel slider are not working. I set them, and they show on the settings, but when I save and refresh the home page, the slider shows, but when you hover over the link shows as #

[2016-05-23 21:36] roelmann commented on #74
Can you tell me what version of FlexiBase you are using please as I cannot replicate this - although one thing (that perhaps I need to make clear in the setting description) is that it is necessary to put the whole URL link, including the http:// (or https://)

[2016-05-23 21:40] cwkerns commented on #74
How do I determine that? I'm using moodle 2.8, and I using the complete link. The website is [http://www.mbcmidlandnc.com/moodle]

[2016-05-23 21:43] cwkerns commented on #74
The only clickable link is the read more button, and when you hover over it, in the lower left hand corner the address pops up http://www.mbcmidlandnc.com/#

[2016-05-23 21:45] roelmann commented on #74
If you go to http://www.mbcmidlandnc.com/moodle/admin/plugins.php?updatesonly=0&contribonly=1
Then look for Flexibase on your list of plugins, it should tell you the version you are using.
Alternatively, send me an email on oelmann.richard@gmail.com with a temporary admin account and I will take a quick look (although it will probably be in the morning now :) )

[2016-05-23 21:59] cwkerns commented on #74
I think the version is 2015031801   v1.0.1. I set up the tempadmin and sent user name and pass word to your email address. Thanks so much.

[2016-05-23 22:06] roelmann commented on #74
Ah - there is a bug in the carousel code! Not sure how that got past so much testing and usage over this time without being spotted!!!
If you have access to the code on the server, it is a relatively simple fix
https://github.com/roelmann/moodle-theme_flexibase/commit/ce8bade2514d85c23eb5e096d7a381349615f92f
If not, I will try to push the correction to the Moodle plugins database tomorrow - or you

[2016-05-23 22:07] roelmann commented on #74
Ah - was fixed in v1.1.1, but that hasn't been tested for Moodle2.8, only 2.9+

[2016-05-23 22:21] cwkerns commented on #74
Well that fixed it for me. Thanks again.

[2016-05-24 06:13] roelmann commented on #74
Great, glad its sorted

[2016-05-24 06:13] #74 closed, assigned to nobody

[2016-05-26 06:26] roelmann opened #75 "User request - add ability to change button text in carousel slider on a per slide basis"

[2016-05-26 22:18] roelmann opened #76 "Add options for 'borderless' blocks on main pages and block modal page"

[2016-05-28 23:10] roelmann commented on #73
Personal musings:
All these renderers were doing was auto-closing the open bits of the trees in these two blocks every time a page was loaded - that's a personal preference, but not essential to the theme.
Is it a feature that is really needed when they can be docked or even hidden and Awesomebar used anyway?
Should they be dropped and just stick with the default behaviour of the blocks?

[2016-05-28 23:13] roelmann commented on #41
Done as a modal in FB3.2.0

[2016-05-28 23:13] #41 closed, assigned to nobody

[2016-05-29 20:55] roelmann commented on #73
Closing - leaving these out to simplify as not really necessary

[2016-05-29 20:55] #73 closed, assigned to roelmann

[2016-06-03 20:56] Kritik77 opened #77 "questionary"
When the alumn trys to do a questionary, he gets the next message:

[MAIN CONTENT GOES HERE - 3Msk3RZf7A]

i activated the development messages and i got the following:

Notice: Trying to get property of non-object in /customers/c/3/2/seduccion-natural.com/httpd.www/cursos/theme/flexibase/layout/includes/footer.php on line 35

I believe its a FlexiBase problem because with clean theme its shown we

[2016-06-03 21:07] roelmann commented on #77
Who is 'alumn' What is a 'Questionary' ?
'When the user tries to do a quiz, he gets the message' ???

[2016-06-03 21:11] roelmann commented on #77
OK - it appears that running a quiz uses the incourse page layout but does not set a course->id
This seems like bug to me as I dont see the logic, but it can be worked around in the footer by excluding the mod-quiz-attempt page type from displaying the teacher's footer which is where this issue is arising (the detecting of a course id to determine whether the user has a given capability in that co

[2016-06-03 21:13] roelmann commented on #77
Fixed as part of https://github.com/roelmann/moodle-theme_flexibase/commit/2dd6691b794b2b25e1f3cca5323491001d8df492

[2016-06-03 21:20] Kritik77 commented on #77
sorry, my english is very bad. hehe.

In english i believe its a Choice. When the teacher makes an exam to student.

My bug is shown using the option in which the student can explain with many lines of words

[2016-06-03 21:31] roelmann commented on #77
Hmm - Dont have any problems with the choice activity, only the quiz attempts
If its not the Quiz attempt, then can you please post the URL of the page you are accessing.
Thank you

[2016-06-03 21:36] Kritik77 commented on #77
Yes, my problem is with quiz attempts, the url that show me the error is:

/mod/quiz/attempt.php?attempt=4

[2016-06-03 21:38] roelmann commented on #77
OK, that should now be fixed on github with the fix above - if you have access to the code of the theme it is easy enough to copy and paste the line I posted earlier to replace the existing line 34 of footer.php (note - L34 NOT L35, even though 35 is the error being caught)

I have a few more things to do, that I am half way through, before I am ready to re-release to the plugins database but will

[2016-06-03 21:38] #77 closed, assigned to nobody

[2016-06-03 21:39] Kritik77 commented on #77
I got this development message in foot of web, i dont know if its some mutual thing...

Debug info: SELECT id,category FROM {course} WHERE id IS NULL
[array (
)]
Error code: invalidrecord

Stack trace: •line 1502 of /lib/dml/moodle_database.php: dml_missing_record_exception thrown
•line 1478 of /lib/dml/moodle_database.php: call to moodle_database->get_record_select()
•line 6938 of /lib/accesslib.

[2016-06-03 21:41] roelmann commented on #77
Yes its the same thing - for some reason the Quiz Attempt doesn't provide the course->id
I think that's a bug but the line I gave earlier works around it by excluding the quiz attempt from trying to find that course->id

[2016-06-03 21:47] Kritik77 commented on #77
i changed this line you said and now it seems it works fine. I will try to continue testing.

[2016-06-04 08:48] Kritik77 commented on #77
Ihave been continued testing and i found same error in more sites. when the student make a second (and maybe, i didnt tried yet) trys to any quiz, its given same error.

Exactly in this URL: /mod/quiz/summary.php?attempt=5

[MAIN CONTENT GOES HERE

And finally, when teacher access to quiz to read the answer from the students, same error too.

Exactly in this URL: /mod/quiz/review.php?attempt=2

[2016-06-04 09:41] roelmann commented on #77
Try the following to exclude ALL quiz pages
    if ($PAGE->pagelayout == 'course' || $PAGE->pagelayout == 'incourse' && substr($PAGE->pagetype,0,8) !== 'mod-quiz') {

[2016-06-04 10:02] Kritik77 commented on #77
Changed and all right now. more trys well, and teacher can see the answers without no more problems.
By the momment, i beleave entire process to make quiz is right now.

[2016-06-04 12:09] roelmann commented on #75
Completed

[2016-06-04 12:09] #75 closed, assigned to roelmann

[2016-06-04 14:12] roelmann commented on #76
Complete

[2016-06-04 14:12] #76 closed, assigned to roelmann

[2016-06-04 15:59] Kritik77 opened #78 "Paypal style"
When i use course summary to give a description of a course i can use some styles, like:

https://moodle.org/pluginfile.php/225/mod_forum/post/1344884/descripcion.jpg

but when i see this text, in description of course, just before to buy it, with payment button... the style is ugly, like:

https://moodle.org/pluginfile.php/225/mod_forum/post/1344884/resultado%20final.jpg

I could be very, very in

[2016-06-04 17:39] roelmann commented on #78
Please can you give a link to the page with the paypal description on it and the paypal buttons etc as I do not use the Paypal enrolment plugin so cannot find that particular page.
I have just altered the renderer slightly to allow formatted text in the summary in most locations (ie not where the course tile or the tagged courses slider is in use). Checkout the change on git here and let me know i

[2016-06-04 20:20] Kritik77 commented on #78
Where i configure description is Site administration > Courses > Manage courses and categories > mycoursename edit. Description box.

The URL where student see this description is /enrol/index.php?id=5

I have just see not only paypal, If i have only manual enrolment, this is the same problem.

[2016-06-04 20:52] roelmann commented on #78
That enrolment page should now accept the html tags with the change in the commit above - renderers/course_renderer.php L234-243
https://github.com/roelmann/moodle-theme_flexibase/commit/05a1ad33d2a0b584cd11a75da2131612f6bc8f8c

[2016-06-04 21:30] Kritik77 commented on #78
Done. For the momment its a perfect result.

Thank you very much.

are all this improves going to be included in any new versión of theme? Because im enjoying yet this improves and resolved bugs... but all FlexiBase users sure want too. Jeje.

[2016-06-04 21:33] roelmann commented on #78
The previous issues you raised were pushed to the plugins database earlier today, this one will be included as soon as I have a few more things to put together to make it worth pushing to the database. In the meantime its available on the github master (should be added to the plugins database by early next week)

[2016-06-04 21:34] roelmann commented on #78
Thanks for the compliments and the support, as well as the testing and bug finding :)

[2016-06-04 21:34] #78 closed, assigned to nobody

[2016-06-10 08:24] Kritik77 opened #79 "Recible Bin"
Same problem that in other older cases, now in section Course Administration > Recicle Bin shows following message:

[MAIN CONTENT GOES HERE

[2016-06-10 08:39] roelmann commented on #79
OK - there appear to be a number of situations where an incourse page is not providing a course->id
Therefore currently 2 solutions
1. Remove the Teacher custom region entirely (comment out or delete https://github.com/roelmann/moodle-theme_flexibase/blob/master/layout/includes/footer.php#L34-47)
2. Make the teacher block only available on main course pages by changing https://github.com/roelmann/

[2016-06-23 09:50] Kritik77 opened #80 "Categories view"
When i see a category and his description, i can see in upper position, at right position, a combo box witch i can select other categories here.

I can see a problema, or a improvement here.

Description text in this screen have width reduced from left side, to the right in the point where this combo box begin.

After description i can see a search box with button to the right, and later all cours

[2016-06-23 10:52] roelmann commented on #80
![screenshot from 2016-06-23 11 50 45](https://cloud.githubusercontent.com/assets/1045679/16300625/ca46ad74-3938-11e6-8925-5a0b8b2a93b9.png)
That space is supposed to be for the course image (see attached screenshot). If you have a course image and its not showing, then that is a bug I need to fix as it is working on my site, but I'm not on my dev site right now, so there may be some customisation

[2016-06-23 11:16] Kritik77 commented on #80
i mean this examples. Not in course description like your photo, i mean in category description like this example:

![fallo1](https://cloud.githubusercontent.com/assets/19737494/16301225/89d93d4a-3944-11e6-83b2-67e64006ddea.jpg)

and more down, when category description is finished, all course`s category is shown......

![fallo2](https://cloud.githubusercontent.com/assets/19737494/16301226/89e2bd5

[2016-06-23 11:49] roelmann commented on #80
Add
#page-course-index-category .generalbox.info {clear: both;}
To your customcss setting :)

[2016-06-23 12:03] Kritik77 commented on #80
it doesn`t work.

Edit:
Its ok now.
A noob question: Why if i use a comment line begining with "//" this line doesnt work? Finally, i used a comment between /\* and */... but... why "//" doesnt run to use only 1 line to comment?

[2016-06-23 12:17] roelmann commented on #80
Um - do you mean why doesn't a comment line work in the css?
Or do you mean why doesn't // work as a comment line?
CSS doesn't use that single line comment syntax for single lines, it uses it to comment the next rule/selector
http://www.xanthir.com/b4U10

[2016-07-03 21:15] roelmann commented on #79
Solution 1 used

[2016-07-03 21:15] #79 closed, assigned to nobody

[2016-07-03 21:18] roelmann commented on #80
Added to styles css sheet

[2016-07-03 21:18] #80 closed, assigned to nobody

[2016-07-17 18:24] fmeneuhe opened #81 "Change footer?"
Hi,
Is possible to change the footer?
I want to remove the moodle's logo.

[2016-07-17 18:27] fmeneuhe opened #82 "Do translate"
Hi,
I would like to translate some strings in the theme that are shown to the user. How can I do that?

[2016-07-17 18:37] roelmann commented on #82
https://docs.moodle.org/dev/Translating_plugins

[2016-07-17 18:37] #82 closed, assigned to nobody

[2016-07-17 18:39] roelmann commented on #81
Add **footer .sitelink {display:none;}** to the custom css

[2016-07-17 18:39] #81 closed, assigned to nobody

[2016-07-18 21:07] fmeneuhe opened #83 "Slide title"
Hi,
Is possible to change the style of the slides title?

[2016-07-18 21:18] roelmann commented on #83
Firebug and Chrome Developer tools are your friend for changing styles if there is no theme setting - they help you find the correct selector and try out styles before committing them to the customcss setting.
In this case it should be something like:
.carousel.slide h1 {your-styles:here;}

[2016-07-18 21:33] fmeneuhe commented on #83
Thanks

[2016-07-18 21:33] #83 closed, assigned to nobody

[2016-07-18 21:35] fmeneuhe opened #84 "Center the slide"
I have some slides that are narrower than the whole page, the slides are aligned to left, is this possible to align the slides to center?

[2016-07-18 21:38] roelmann commented on #84
.carousel-inner > .item > img {margin:0 auto}

[2016-07-19 05:36] #84 closed, assigned to nobody

[2016-07-20 08:00] fmeneuhe opened #85 "Bug showing number of courses"
Hi I have found a couple of bugs, I have activated the option show list of categories on front page:
- I have a course categories and subcategories. When I create a course inside a subcategory, the parent of this category (in the front page) still shows (0) courses, and should show (1)
- Subcategories, do not show the number of courses? I mean the (0)

[2016-08-02 12:51] Kritik77 opened #86 "new bootstrap"
The new versión of bootstrap theme makes FlexiBase does not runs.

[2016-08-02 13:42] roelmann commented on #86
Fixed last night
https://github.com/roelmann/moodle-theme_flexibase/commit/bf6697de30f82cbb8d1fd5a27648758a8276473b
Moodle plugins database not yet updated, but fix available from github

[2016-08-23 23:40] logan-reynolds opened #87 "Error calling/loading js and UI elements on M31"
Seeing following error when trying to use this theme due to calling Modernizr javascript before it is defined at /layout/includes/preheaderlogic.php:165 , which caused stylesheets and other UI elements to fail loading:

ReferenceError: Modernizr is not defined

However there apper to be other issues that need resolved since in our tests moving the script include for Modernizr above it's first occu

[2016-08-24 05:11] roelmann commented on #87
Cannot find any error - on all my systems with flexibase installed (several local host setups and several live sites) Modernizr is working fine, as evidenced by the classes being added to html and as evidenced by the alert wwarnings showing on an IE8 browser.
AMD loading of javascript will be implemented as needed during further development work unless funded to raise its priority. In the meantime

[2016-08-24 06:04] roglos commented on #87
Solution is to move the <script> line from preheader.php into footer.php below the standard_html line.  Will add the change next time I do a major upgrade.

[2016-08-24 06:08] roelmann commented on #87
Solution is to move the script line from the preheader.php into the footer.php below the standard_html line. Will add this next time I do a significant update.

[2016-08-24 06:08] #87 closed, assigned to nobody

[2016-08-29 12:49] fmeneuhe commented on #85
Any comments or feedback about this bug?

[2016-08-29 13:16] roglos commented on #85
Currently sub-categories are hidden if you choose to use the tiled display. This is not a bug but a design choice due to the complexities involved with multiple depths of sub-categories.

I need to find a way to style multiple sub-categories within a tile and still look reasonable.

If you need to display subcategories, consider not using the category icon tiles.

Alternatively if you are able to

[2016-08-29 13:17] roelmann commented on #85
Currently sub-categories are hidden if you choose to use the tiled display. This is not a bug but a design choice due to the complexities involved with multiple depths of sub-categories.

I need to find a way to style multiple sub-categories within a tile and still look reasonable.

If you need to display subcategories, consider not using the category icon tiles.

Alternatively if you are able to

[2016-08-29 13:18] #86 closed, assigned to nobody

[2016-08-29 15:11] fmeneuhe commented on #85
What do you mean by "tiled displays"? Is this a theme or moodle option?

[2016-08-29 15:29] roelmann commented on #85
The icon/tiled display of categories is a Flexibase theme option. It can be turned off in the theme setting 'Category Icons' page.

[2016-08-29 16:08] fmeneuhe commented on #85
I set the "Enable category icons" to off, but still is shown the (0).
Anyway, I have set display:none in CSS to hide the number of courses.

[2016-08-29 16:13] fmeneuhe opened #88 "What is "Page Block" button for?"
On the main page of the site I have a "Page Block" button.
What is this button for?
The button is not translated by moodle, so I  guess the is a custom buttom from the theme.

[2016-08-29 16:14] roelmann commented on #85
The (0) is correct if there are no courses in that specific category - it does not, and is not intended to, total up courses in separate sub-categories. That would be an entirely different request, although would be an option to consider (display  number of courses in this category + total of courses in sub-categories).
Any development along these lines would require both thought as to what the ac

[2016-08-29 16:19] roelmann commented on #88
The Page Blocks button gives a modal page of additional block regions. This allows content creators to move towards a 'block free' content page if desired (I don't but some people seem to be very vocally advocating such an approach) by moving all blocks onto this modal page.

[2016-08-29 16:23] fmeneuhe commented on #88
Ok right. And thanks for this great theme.

[2016-08-29 16:49] #88 closed, assigned to nobody

[2016-09-06 20:22] fmeneuhe opened #89 "Hide topic does not work"
I have found and important and blocking bug.
Inside a course, I hide a topic from the right "Edit" topic link. When I try to show the topic again, when I click on the "Edit" link I cannot select the options.
Is this a theme bug? It works with other themes.
I have tested it with latest versions of Firefox, Opera and Chrome on Windows 10.

[2016-09-06 20:55] roelmann commented on #89
Suspect this may be a 'bug'/design change from the parent as I hadn't come across it before, but came across it in another them last week. It appears the 'hidden topic' is actually being greyed out by giving it an opacity, while if that opacity is reset to 1, it resolves the issue.
I'm away for a few days, so can't provide the actual code until the weekend, but you could try adding something like

[2016-09-06 20:56] roelmann commented on #89
Logically the opacity shouldn't be preventing the click - but when I tested it on the other theme, reverting the opacity to 1 worked.
I probably need to investigate deeper to make sure that is the actual cause, but try it as a temporary work around.

[2016-09-06 21:02] fmeneuhe commented on #89
As a temporary workaround it works.

[2016-09-07 14:41] fmeneuhe opened #90 "Dotted columns"
Hi, when I click "Turn editing on" 1 or even 3 dotted blank  columns like the attached screenshot are showed. What are these columns for?  How can I remove them?

![dotted_columns](https://cloud.githubusercontent.com/assets/8604933/18316181/ebd79742-7519-11e6-927f-594882f600e6.png)

[2016-09-07 15:44] roelmann commented on #90
Those dotted lines were added to highlight the areas that blocks can be dragged into (as a result of a request because people didn't know where those regions were. Checkout the inbuilt theme help on layouts.

The selector is
.editing .block-region
currently this has a rule
border:3px dotted gray;
You would need to edit that rule to what you want, but you may find you need to replace it with some o

[2016-09-07 16:29] fmeneuhe commented on #90
The blocks are empty, so what I want to do is to hide them because they take up space, and I need space. Is possible to hide them?

[2016-09-07 16:35] roelmann commented on #90
They disappear as soon as you turn editing back off if empty, so they dont take any space in your design as seen by students. They are only there as a guide during editing - just like the editing menu, the drag and drop icons etc. Empty regions are not visible to most users and so do not take up space in the page as it is used.
You can really only hide them by removing those regions from the layou

[2016-09-08 08:17] #90 closed, assigned to nobody

[2016-09-12 07:06] roglos commented on #89
Probably a better solution (courtesy of Mary Evans on the forums)
.editing .course-content ul li.section.hidden:hover {
    background-color: #f2f2f2;
    opacity: 1;
}
Applies the css only when editing and only when hovering over that section, therefore leaves the opacity function to provide the 'hidden' distinction otherwise.

[2016-09-12 14:38] fmeneuhe commented on #89
Much better this one thx.

[2016-09-22 04:29] derekc opened #91 "Error when forcing a password change."
Moodle: 3.0.1+ (Build: 20151231)
Flexibase: v3.2.0e 2016062200

See the comment here: https://moodle.org/mod/forum/discuss.php?d=328965

I actually can't believe this is a bug, since it has been around for a while and someone must have experienced it.

Here is the current error message:

![91](https://cloud.githubusercontent.com/assets/687780/18737090/9ed6aca2-80e1-11e6-92c1-10a3ea2b5ee5.jpg)

-De

[2016-09-22 08:55] derekc commented on #91
Well, this from Decaf: https://github.com/CTANZ/moodle-theme_decaf/issues/26

-Derek

[2016-09-22 11:32] roglos commented on #91
Thanks Derek - in Flexibase its https://github.com/roelmann/moodle-theme_flexibase/blob/master/layout/includes/awesomebarinc.php#L40 to make the same change

[2016-09-23 10:13] roelmann commented on #91
Fixed

[2016-09-23 10:13] #91 closed, assigned to nobody

[2016-09-23 10:16] #89 closed, assigned to roelmann

[2016-09-26 06:00] derekc opened #92 "Small deprecated string error"
Tiny bit of code comes up deprecated:

![22 code](https://cloud.githubusercontent.com/assets/687780/18823992/7756ec36-841b-11e6-883d-6e4c04e34c27.png)

[2016-09-26 06:03] derekc opened #93 "Unusual styling on front page | two things"
![21 home page](https://cloud.githubusercontent.com/assets/687780/18824070/e60e1636-841b-11e6-8821-b92d9668c598.png)

Just installed new 3.2.1 on our dev site.

[2016-09-26 06:05] derekc opened #94 "Page blocks button"
I may have misunderstood Richard, but I thought this was being removed.
![20 page block](https://cloud.githubusercontent.com/assets/687780/18824114/2526e41a-841c-11e6-8ccf-e3af176aa8e5.png)

[2016-09-26 06:16] roelmann commented on #94
No, I wasn't removing the blocks page, that was a requested new feature.
What I removed was the fact that the default region was set as one of the
block page regions and that led to confusion when people tried to edit.
It would be quite easy to remove if you don't want it on your particular
site though.
Remove the side-modal regions from config and the button itself from the
layout (I can give mor

[2016-09-26 06:20] roelmann commented on #92
I think that string is being called by block_course_menu, Derek. Flexibase
shows up in the stack trace because that's where the block region that
holds the course menu block is being called from, rather than because
that's where the string is.

On 26 Sep 2016 07:00, "derekc" notifications@github.com wrote:

[2016-09-26 06:52] derekc opened #95 "Extra Block"
I think I have mentioned this before, but I cannot find a reference to it sorry.
What is the reason for this block:
![17 extra space](https://cloud.githubusercontent.com/assets/687780/18825009/ac050574-8422-11e6-937b-5a4efdb34821.png)

This is edit mode on with FB 3.2.1
-Derek

[2016-09-26 06:58] roelmann commented on #92
From the image above - L610 of /blocks/course_menu/block_course_menu.php: call to get_string()

[2016-09-26 06:58] roelmann commented on #92
Not a Flexibase issue

[2016-09-26 06:58] #92 closed, assigned to nobody

[2016-09-26 07:09] roelmann commented on #93
For the login button - this appears to have the containing div applied as a button and also the <input>
To remove the outer styling add teh following to your customcss - I will add it to a fix on FB as soon as I can
**.c1.btn, .c1.btn:hover {background-image:none;background-color:transparent;border:none;padding:0}**

Now pushed to github

[2016-09-26 07:13] roelmann commented on #93
I'm not seeing the pale green background anywhere, Derek. Can you tell me more about it? Is it on the frontpage, which part of the page?? Can you track it down using firebug or chrome developer tools?

[2016-09-26 07:17] roelmann commented on #94
If you do want to remove it completely, then: In flexibase/config.php remove
https://github.com/roelmann/moodle-theme_flexibase/blob/master/config.php#L48-L50
and
https://github.com/roelmann/moodle-theme_flexibase/blob/master/layout/includes/header.php#L161-L163

[2016-09-26 07:46] roelmann commented on #95
That block region arose from a discussion with colleagues that they wanted someone other than site administrators to be able to add alerts.
The idea is that it is a block region, primarily intended for anyone with editing rights to add a block - usually just an html block - as an alert, and because of that function, the header of the block is deliberately removed, leaving just the block content (i

[2016-09-26 08:53] roelmann commented on #93
Derek, Just logged into your site - the pale green is coming from your Main Brand Colours setting for 'White' where you have put #E6FEFA
If you want to keep that setting bu override it for #region-main, then add
#region-main{background-color:#fff;}
to your customcss setting, to override the theme use of the LESS @white variable.

[2016-09-26 20:37] derekc commented on #95
Richard: thanks for all the little fixes and answers in the last day!!
-Derek

[2016-09-28 19:16] fmeneuhe opened #96 "Bug in Assignment activity"
When a student send a document in the Assignment activity, when the teachers go to correct it pressing "Grade" button, a new page is diplayed to correct the activity. The bug is that on the top of the page are not diplayed the rest of students to go next student or change to another student.

[2016-10-03 17:01] fmeneuhe commented on #96
Any feedback or comment?

[2016-10-03 18:18] roelmann commented on #96
Apologies I missed this - will look at it tonight/tomorrow

[2016-10-03 18:19] #95 closed, assigned to roelmann

[2016-10-03 18:19] #94 closed, assigned to roelmann

[2016-10-03 18:19] #93 closed, assigned to roelmann

[2016-10-03 19:32] roelmann commented on #96
As a quick work around try adding
.path-mod-assign [data-region="user-selector"] .alignment {margin-top: -125px;}
to customcss while I try to look at the root cause of the wrong positioning.

[2016-10-03 21:11] fmeneuhe commented on #96
With this workaround you can see the student's navigation bar, but the current student's name (the one you are editing) is still invisible.

[2016-10-04 19:29] roelmann commented on #96
I am having some issues on my localhost as I dont have unoconv installed and I seem to have a problem with something in javascript breaking on the page.
However, I also have flexibase installed in work and I don't see this issue there at all.
you could try adding
.path-mod-assign [data-region="user-info"] {margin-top: xxx;}
.path-mod-assign [data-region="assignment-info"] {margin-top: xxx;}

I nee

[2016-10-05 13:45] fmeneuhe commented on #96
I have tried with diferent xxx margin values but the name still not visible. The student's name is located below the course name and not next to it.

[2016-10-05 19:32] roelmann commented on #96
To help try to replicate this issue (you may have given me this in a previous issue, so apologies) - can you confirm what version of Moodle and of Flexibase you are using - and if appropriate to the Moodle version, what php version you have (that is the other difference between my localhost and my work setup)
Thanks

[2016-10-05 20:57] fmeneuhe commented on #96
Moodle 3.1.1
PHP 5.5
Flexibase: v3.2.0e 2016062200

[2016-10-05 21:30] roelmann commented on #96
Thank you - that looks very much like the set up I have in work, but will check tomorrow and as soon as I am able will build a virtual machine with php5 as my localhost uses php7.
The alternative would be to send me a private message (email should be in the profile above, or you can send via moodle.org - be sure to mention this thread and your github user name so I know what its about) with a log

[2016-10-05 21:36] fmeneuhe commented on #96
I do not know if it helps, this is the custom CSS I use in Flexibase theme:

`
footer .sitelink {display:none;}
.carousel-inner > .item > img {margin:0 auto}
.carousel-caption {display:none}
.categoryicons .course_category_tree .category .numberofcourse {
    display: none;
}
#pageblockbtn { display: none;}

.editing .course-content ul li.section.hidden:hover {
background-color: #f2f2f2;
opacity:

[2016-10-09 09:20] roelmann commented on #96
So far still unable to replicate this issue, although I dont have 3.1.1, I have Mdl3.1.2, PHP5 (latest) on Ubuntu14.04, and flexibase (latest), no unoconv installed.
Screenshot from fresh clean install of Moodle3.1 and flexibase
![screenshot from 2016-10-09 10-19-05](https://cloud.githubusercontent.com/assets/1045679/19219398/e01dd926-8e09-11e6-9d96-a9658cd1598a.png)

[2016-10-09 16:44] fmeneuhe commented on #96
Screenshot from my Moodle (the student's name is not visible):
![2016-10-09 18_41_23-program manager](https://cloud.githubusercontent.com/assets/8604933/19222074/58f6a7f6-8e50-11e6-92ea-f613c8f5c09c.png)

Which extra info would be useful for you? Any log?

[2016-10-09 16:51] gjb2048 commented on #96
This is a very difficult page to style.  The styles come from the mod assign CSS styles.css file.  Therefore can you replicate the issue in the Clean theme?  If so then will be a core issue to fix as this is a relatively new bit of functionality.

[2016-10-09 16:53] roelmann commented on #96
About the only other way I can think of to investigate it is with a log in to your site (and access to a grading page) so I can actually see the issue in place.
Other than that, I will continue trying to replicate but it's difficult to suggest a solution when I can't see the problem.

[2016-10-09 16:59] fmeneuhe commented on #96
@gjb2048  what do you mean by clean theme?
@roelmann , where can I send you the info to access the log  and grading page?

[2016-10-09 16:59] roelmann commented on #96
Hi Gareth - I haven't actually added any styling to this page, so it's just picking up from Bas' bootstrap theme, but works fine in every test site I've done and on my work site. But for some reason is not working for fmeneuhe. I can see the issue on th screenshot but without being able to replicate it its difficult to suggest a resolution.
I'm wondering now if there may be a clash with another pl

[2016-10-09 17:01] roelmann commented on #96
@fmeneuhe - my email address is on my profile here, or via Moodle.org private messaging (oelmann.richard@gmail.com)

[2016-10-09 17:02] roelmann commented on #96
Clean is the default theme that is shipped with Moodle.

[2016-10-09 17:07] gjb2048 commented on #96
Hi Richard,

Ah ok, odd!  As the styles are coming from mod_assign then should not matter with: https://github.com/roelmann/moodle-theme_flexibase/blob/master/config.php#L32 - unlike with Essential where I - https://github.com/gjb2048/moodle-theme_essential/blob/master/config.php#L53 - and have to import manually - long story!  So in actuality not coming from Bas's Bootstrap at all.

@fmeneuhe Ano

[2016-10-09 17:23] fmeneuhe commented on #96
I have tested it with Clean and Bootstrap 3 theme, with Clean theme it works fine, but with Bootstrat 3 theme I get the same error. Does this info help?

[2016-10-09 17:23] roelmann commented on #96
Or theme_bootstrap (the parent theme) itself, as you may not have shoehorn installed.
Will be away from the computer the next hour or so anyway (family still trumps Moodle :) )  but can assure you this issue is on my to-do list as a high priority as soon as I can either replicate or have some access to investigate.

[2016-10-09 17:25] roelmann commented on #96
Thanks Gareth - yes it does, but I wonder then why I can't replicate on my system. There must be something different that I can haven't picked up on

[2016-10-09 17:26] roelmann commented on #96
I think I'll try again on a totally fresh virtual machine this evening and see what happens

[2016-10-09 17:27] roelmann commented on #96
Apologies that should have been addressed to fmeneuhe

[2016-10-09 17:28] roelmann commented on #96
(although thanks to Gareth for the suggestions and comments too :) )

[2016-10-09 17:29] roelmann commented on #96
Fmeneuhe - can you let me know which version (build number)  of theme_bootstrap you have please, just so I can check to replicate again when I'm back this evebing

[2016-10-09 17:33] gjb2048 commented on #96
Ok, as Shoehorn is another BS3 theme I followed:

"When a student send a document in the Assignment activity, when the teachers go to correct it pressing "Grade" button, a new page is diplayed to correct the activity. The bug is that on the top of the page are not diplayed the rest of students to go next student or change to another student."

and cannot replicate.  Going to install Flexibase with

[2016-10-09 17:35] fmeneuhe commented on #96
bootstrap
theme_bootstrap 3.0.0  2016042200

Base Bootstrap
theme_bootstrapbase  2016052300

[2016-10-09 17:46] gjb2048 commented on #96
Ok, can replicate with 'master' of Flexibase and - https://github.com/bmbrands/theme_bootstrap/tree/MOODLE_31_STABLE - of Bootstrap:

![2016-10-09 18_44_33-start](https://cloud.githubusercontent.com/assets/1058419/19222456/a619a448-8e50-11e6-9152-16e019fafdca.jpg)

[2016-10-09 17:48] gjb2048 commented on #96
Cannot replicate in Bootstrap theme so a Flexibase issue.

[2016-10-09 17:52] gjb2048 commented on #96
Definitely down to CSS like:

[code]

missing in Flexibase but don't know why.

[2016-10-09 17:55] gjb2048 commented on #96
Ok, this is interesting, Shoelace theme not including styles either, that is a BS2 theme.  But uses same mechanism as More and Flexibase, LESS wise....

[2016-10-09 17:58] gjb2048 commented on #96
False alarm, mod_assign version of 'span4' only used when not overridden by a BS2.3.2 theme.

[2016-10-09 17:59] gjb2048 commented on #96
Or is it, I think I'm onto something.

[2016-10-09 18:02] gjb2048 commented on #96
Bingo!!!

[2016-10-09 18:02] fmeneuhe commented on #96
@gjb2048 I added your code in custom CSS flexibase:

#page-mod-assign-grader .span4 {
    float: left;
    width: 33.33333333%;
}

and it works!

[2016-10-09 18:05] gjb2048 commented on #96
Indeed, a part of the story.  Moodle HQ in their 'wisdom' put BS2.3.2 styles in mod_assign :( - thus Bootstrap has: https://github.com/bmbrands/theme_bootstrap/blob/MOODLE_31_STABLE/less/moodle/grade.less#L199-L203 but Flexibase has: https://github.com/roelmann/moodle-theme_flexibase/blob/master/config.php#L33, thus this gets excluded.  So there are two solutions:
1. Add https://github.com/bmbrand

[2016-10-09 18:13] fmeneuhe commented on #96
@gjb2048 Adding the code you mentioned to LESS CSS flexibase also works:

#page-mod-assign-grader {
    .span4 {
        .make-md-column(4);
    }
}

[2016-10-09 18:14] gjb2048 commented on #96
Ok, Richard create:

templates/mod_assign/grading_navigation.mustache

then put in it:

[code]

= job done!  No iffy BS2.3.2 LESS required.

[2016-10-09 19:40] roelmann commented on #96
Also - note those are not the latest versions of either theme_bootstrap or theme_flexibase and I think the screenshot you gave Gareth is a different issue - I had a regression in flexibase where Bas had renamed the boostrap less folder from bootstrap3 to bootstrap3-3-6, which I thought I had fixed a while ago but had slipped back in, so the screenshot you have above appears to be without any of th

[2016-10-09 19:45] fmeneuhe commented on #96
@roelmann updating the theme it will be fixed?
If so, how can I update the theme?

[2016-10-09 19:45] roelmann commented on #96
'Bootstrap has: https://github.com/bmbrands/theme_bootstrap/blob/MOODLE_31_STABLE/less/moodle/grade.less#L199-L203 but Flexibase has: https://github.com/roelmann/moodle-theme_flexibase/blob/master/config.php#L33, thus this gets excluded'
But that only excludes the css files and I'm not using the css, I'm building it from LESS and gets included here
https://github.com/roelmann/moodle-theme_flexibas

[2016-10-09 19:48] roelmann commented on #96
@fmeneuhe - I've updated it on github, so if you use that you can do it already. I need to do a few other jobs, but in the next hour or so I will also upload it onto the plugins database.
The fix is actually https://github.com/roelmann/moodle-theme_flexibase/commit/bf6697de30f82cbb8d1fd5a27648758a8276473b which was put in a while ago, but as I said I have a regression somewhere - not sure how, but

[2016-10-09 19:50] roelmann commented on #96
Gareth, I will certainly look at that mustache template and implement it if the update to correct versions doesn't fix it for fmenuehe (or for future anyway)
MANY thanks for your help this evening It is MUCH appreciated!!!!

[2016-10-09 19:51] fmeneuhe commented on #96
Thanks both @roelmann  and @gjb2048 for your great and quick investigating job.

[2016-10-09 20:08] gjb2048 commented on #96
No worries Richard, I'm glad I could help and I learnt something too :)

[2016-10-09 20:09] roelmann commented on #96
:)

[2016-10-09 20:10] roelmann commented on #96
Update posted to plugins database too

[2016-11-12 08:06] Kritik77 opened #97 "qtype_ordering plugin"
im using qtype_ordering plugin and i saw it doesn`t Works fine with Flexibase theme, but it Works fine with bootstrap theme, and clean theme. Then i deducted the problema was in FlexiBase theme.

Exactly the problem is in opcions and how they Works when an alumn is using them, but it Works fine in preview.

When an alumn is using them, the options are shown. but they aren`t able to change the orde

[2016-11-12 08:40] roelmann commented on #97
As this requires a 3rd party plugin to investigate and is not a core error, this will, unfortunately, either require funding or to wait until I am able to allocate time to investigate the issue.

[2017-01-10 08:36] Kritik77 opened #98 "incompatible moodle 3.2"
Flexibase is not compatible with Moodle 3.2. I would like to know if it is thought to make it compatible to know if i must plan to test new themes to this versión or if i can wait a few days or weeks (not months) to continue using this theme.

Now that i have a look to my courses web that i like very much it is bad to me to look for another theme that i like so much.

[2017-01-10 09:16] roelmann commented on #98
At the moment there are no specific plans to upgrade Flexibase to Moodle3.2 as I am working on a new series of themes based around Boost.
If there are specific issues that need to be addressed, I am happy to take a look at them and determine whether they could be done as small scale fixes, or would need funding.
A general update to 3.2 would be a project that would require funding.

[2017-01-10 13:50] Kritik77 commented on #98
Its a pity because many users are using this theme (422 registered sites at this moment, and its an important number of sites) because it has components that not any other have.

[2017-01-10 15:43] roelmann commented on #98
I'll consider it, but without funding, it would have to fit in around other commitments, including supporting Waxed and other possible Boost related themes.

[2017-04-08 14:22] englisheffects opened #99 "Popovers not working"
Hello! I am trying to use the popover feature from bootstrap (http://getbootstrap.com/javascript/#popovers), but it doesn't seem to work. I tried placing different variations of the javascript you see below but the popup doesn't show. Could you offer any tips?

`$(function () {
  $('[data-toggle="popover"]').popover()
})`

[2017-04-08 17:15] roelmann commented on #99
Appears not to work in the parent Bootstrap theme either - will investigate

[2017-08-11 17:19] Kritik77 commented on #98
Finally, i revised this theme and i saw it was a new versión with 3.2 compatibility, then i updated my Moodle to the last 3.2 versión (3.2.4) and it didnt Works. And i dont know why.

I would like to know how to resolve it.

[2017-08-11 17:23] roelmann commented on #98
What issue are you having?
I have it working fine on 3.2.4+ (Build: 20170720)

[2017-08-11 17:27] Kritik77 commented on #98
I have installed Moodle 3.2.4+ (Build: 20170810). I believe there is any error in the configuration, not in the theme. But i dont know where.

[2017-08-11 17:41] roelmann commented on #98
Have updated my test site to 20170810 with no noticable issues (admittedly, haven't done a full test, just that it doesn't break and the front page works fine).
What issue are you having?

[2017-08-11 17:48] Kritik77 commented on #98
the web looks like it hadnt any style. Only the elements (links, pictures, texts) without any order.

[2017-08-11 17:52] roelmann commented on #98
Hmmm
Definitely not seeing that.
What version of the bootstrap parent theme do you have? Is it the latest
from the plugins database? I think it's 3.1?

On 11 Aug 2017 6:48 pm, "Kritik77" <notifications@github.com> wrote:

[2017-08-11 18:09] Kritik77 commented on #98
The versión of bootstrap is 3.1.0 (2016080100)

I remember there was one option in advanced features when opcache was disabled. But i dont remeber witch one.

[2017-08-11 19:52] Kritik77 commented on #98
By the momment i restored a backup i did before to upgrade Moodle and now im working with Moodle 3.1.4 again, and Flexibase Works again.

I will try to get a test environment with Moodle 3.2.4 to test Flexibase in this one.

[2017-09-04 16:57] englisheffects opened #100 "Has the theme crashed?"
All of a sudden, the Flexibase theme isn't displaying properly and two warnings regarding browser compatibility are displaying on the top of the page (see attached image). However, I'm using the same Chrome and Firefox versions as before.  This happened while working on a database activity.

Could you help determine if this is widespread or if it is just something happening locally with my specifi

[2017-09-04 17:06] roelmann commented on #100
Moodle version and Browser versions?
Nothing has been changed in the theme itself, but that looks as though the browser testing is picking up a lack of support for flexbox layouts, which is strange if nothing has changed...
Hmmm, could be a JS clash with something added preventing the Modernizr script running?
Not having any issues on my test site at the moment...

[2017-12-08 13:24] thepurpleblob opened #101 "Requirement for block_course_overview that is no longer in core"
renderers/core_renderer.php requires blocks/course_overview/locallib.php. This block no longer exists in core after 3.3

[2017-12-08 15:19] roelmann commented on #101
Noting that flexibase is **not supported on Moodle3.3+** (primarily due to this reason) What I have not tested is whether it will work if the version of the old course_overview block is installed from the plugins database.
Unfortunately this is due to the decision HQ made when the new dashboard was implemented and rather than deprecating the old block and leaving it in place for a few versions as

[2017-12-08 15:19] #101 closed, assigned to nobody

[2017-12-08 15:22] thepurpleblob commented on #101
Yep - I can't of gathered this but I was just tidying it up really for someone having trouble with course_overview on 3.3+. Answer appears to be not to use flexibase theme. Cheers.

[2018-04-19 20:00] rljesse opened #102 "session_key not being passed to the course_overview block in v3.2.1b (2016082302) (Moodle 3.1)"
We're using Moodle 3.1 with Flexibase v3.2.1b.

On a user's dashboard, if you attempt to change the value for "Number of courses to display:" from "Always show all" to any other value, it seems to not take the change. The page reloads, the URL changes to include ?mynumber=1 but the number of courses to display is still set to "Always show all" and it doesn't seem to apply the filter.

We think tha

[2018-05-15 21:15] roelmann commented on #102
https://github.com/roelmann/moodle-theme_flexibase/commit/9d84045bba053e369fed91525961470c535d430e

[2018-05-15 21:15] #102 closed, assigned to nobody

[2019-04-09 13:19] #99 closed, assigned to nobody